body {
    margin: 0;
    height: 100vh;
    background: rgb(4, 228, 140);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.caja {
    flex: 1;
    display: flex;
    padding-top: 150px;
}

.izquierda {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 600px;
}

.derecha {
    width: 45%;
    padding: 60px;
}

.formulario {
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 3px;

}

.checkbox {
    display: flex;
    margin-top: 5px;
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.options {
    margin-top: 8px;
}

.options a {
    color: blue;
    font-size: 14px;
    text-decoration: underline;
    display: inline-block;
    margin-bottom: 5px;
}


.btnLogin,
.btnRegistro {
    background: rgb(97, 81, 155);
    color: rgb(253, 253, 253);
    border-radius: 30px;
    border-color: rgb(97, 81, 155);
    padding-left: 20px;
    padding-right: 20px;
}
.input-error {
    border: 2px solid #ff4d4d;
    background-color: #fff0f0;
}


footer {
    text-align: right;
    padding: 10px 20px;
    font-size: 12px;
}